<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Cordis App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/foundation/css/foundation.css">
  <link rel="stylesheet" href="css/app.css"/>
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div ng-app="myApp" ng-controller="ProjectCtrl" class="row" >

    <h1>Awesome Cordis Search</h1>

    <!-- The search box puts the term into $scope.searchTerm
       and calls $scope.search() on submit -->
    <section class="searchField">
      <input id="firstStop" type="text" ng-model="searchTerm" placeholder="Enter a search term..." ng-init="search()" ng-change="search()">
    </section>

    <span class="button small round" ng-click="filter()">Spain</span>

    <section class='results'>
      <div class='no-projects' ng-hide='projects.length'>No results</div>
      <article class='project' ng-cloak ng-repeat='project in projects'>
        <h3>
          <a ng-href='http://cordis.europa.eu/projects/rcn/{{project.rcn}}_en.html' target="_blank">{{project.acronym}}</a>
          <!-- <small>{{project.name}}</small> -->
        </h3>
        <p>{{project.name}}</p>

        <p>EUR {{ project.funding | formatEuro }}/{{ project.cost | formatEuro }}</p>

        <ul class="inline-list">
          <li ng-repeat="participant in project.participants">
            <!-- {{ participant }} -->
            <small> {{ participant.name | camelCase }} <b>{{ participant.country }} </b></small>
          </li>
        </ul>

      </article>
      <div class='load-more' ng-cloak ng-hide='allResults'>
        <a ng-click='loadMore()' class="button">More...</a>
      </div>
    </section>

  </div>


  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/elasticsearch/elasticsearch.angular.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/foundation/js/foundation.js"></script>
  <script src="bower_components/d3/d3.min.js"></script>
  <script src="lib/elastic.js/dist/elastic.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
